.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 40px;
    font-weight: normal;
}

.images {
    margin-bottom: 60px;
}

.imageWrapper {
    margin-bottom: 40px;
}

.info {
    margin-top: 60px;
    font-size: 0.95rem;
}

.description {
    margin-bottom: 30px;
    line-height: 1.8;
}

.meta {
    color: var(--color-gray);
    border-top: 1px solid #eee;
    padding-top: 20px;
}